##
## logwall(1) ruleset file
##


### Rewrites ###

tag=~*cron sourcename:=cron
sourcename==cupsd proc_owner==root facility==user facility:=lpr
tag=^/etc/mysql/debian-start sourcename:=mysqld-debian
tag=^/etc/init.d/mysql sourcename:=mysqld-debian
sourcename==apcupsd msg=%"Power failure" severity:=crit

# enforce "fifo-" prefox for messages arrived on fifo
fifonick!=="" tag:=fifo-{{fifonick}}

# log all logs
#log=debug


### Filters ###

# most system processes
proc_uid!==-1 proc_uid<1000 action=accept

# trusted programms
exe==/sbin/unix_chkpwd action=accept
exe==/usr/bin/sudo action=accept
exe==/bin/su action=accept

# trusted fifo
fifonick==supervisor action=accept

# disallow high level messages from who we don't know
exe=="" severity<error log="info;Unknown exe: " action=drop
proc_owner=="" severity<error log="info;Unknown process owner: " action=drop

# allow only these for everyone else
facility==user action=accept
facility>=local1 facility!==local3 facility<=local7 action=accept

# drop policy
log="notice,ALL,msg;Drop by policy: " action=drop

